{
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "singleQuote": false,
  "trailingComma": "all",
  "endOfLine": "auto",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "vueIndentScriptAndStyle": true,
  "useTabs": false,
  "arrowParens": "always",
  "overrides": [
    {
        "files": "*.json",
        "options": {
            "printWidth": 200,
            "tabWidth": 4,
            "semi": false,
            "singleQuote": false,
            "bracketSpacing": true,
            "trailingComma": "all"
        }
    }
]


}
