@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Tilt+Neon&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Tilt Neon", cursive;
  font-size: 20px;
  color: #333;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
